[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
numpy = "*"
textual = "*"
textual-dev = "*"
opencv-python = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3.10"
